body {
    background-color: #f0f0f0;
    color: #0f0f0f;
    font-family: monospace;
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    background-color: #0f0f0f00;
    color: #0f0f0f;
    border-color: #0f0f0f00;
    text-decoration: underline;
    text-align: left;
    padding: 0px;
}

#title {
    font-size: 50px;
    margin: 0px;
    margin-top: -10px;
    margin-bottom: -10px;
}

#minititle {
    font-size: large;
}

#titlebutton {
    border-color: #0f0f0f;
    border-radius: 50px;
    height: 30px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    padding: 4px;
}

div {
    margin: 10px;
    padding: 10px;
    background-color: #43434310;
    min-width: 160px;
    min-height: 160px;
    flex: 1 1 160px; /* flex-grow: 1, flex-shrink: 1, Basisbreite: 160px */
    border-radius: 10px;
}

div p {
    font-size: large;
}

.bbox {
    flex: 1 1 500px; /* flex-grow: 1, flex-shrink: 1, Basisbreite: 500px */
    padding: 10px;
}

.bbox h1{
    margin: 0px;
}

.tbox {
    float: none;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
}

div:hover {
    background-color: #4A90E2;
}

a {
    color: #0f0f0f;
}

.inhalt {
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap; /* Falls die Boxen nicht in eine Zeile passen */
    gap: 10px; /* Abstand zwischen den Items */
    width: auto;
    height: auto;
}

.inhalt:hover {
    background-color: rgba(0, 0, 0, 0);
}

.s1, .s2, .s3, .s4, .s5 {
    display: none;
}
