body {
    background-color: #f0f0f0;
    color: #0f0f0f;
    font-family: monospace;
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    background-color: #43434300;
    padding: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: left;
    height: 100px;
    transition: 0.5s ease;
}

#title {
    font-size: 50px;
    margin: 0px;
    margin-top: -10px;
    margin-bottom: -10px;
}

#minititle {
    font-size: large;
}

#titlebutton {
    color: #0f0f0f;
    background: none;
    border-radius: 50px;
    height: 25px;
    right: 10px;
    margin-bottom: 0px;
    text-align: center;
    border-color: #0f0f0f;
}

div {
    margin: 10px;
    padding: 10px;
    background-color: #43434310;
    transition: 0.5s ease;
    min-width: 160px;
    min-height: 160px;
    flex: 1 1 160px; /* flex-grow: 1, flex-shrink: 1, Basisbreite: 160px */
    border-radius: 10px;
}

div p {
    font-size: large;
}

.bbox {
    flex: 1 1 360px; /* flex-grow: 1, flex-shrink: 1, Basisbreite: 360px */
    padding: 10px;
}

.bbox h1{
    margin: 0px;
}

.tbox {
    float: none;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
}

div:hover {
    background-color: #ffcc00;
}

header:hover {
    background-color: #ffcc00;
}

a {
    color: #0f0f0f;
}

.inhalt {
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    transition: 0s ease;
    display: flex;
    flex-wrap: wrap; /* Falls die Boxen nicht in eine Zeile passen */
    gap: 10px; /* Abstand zwischen den Items */
    width: auto;
    height: auto;
}

.inhalt:hover {
    background-color: rgba(0, 0, 0, 0);
}
