body {
    background-color: #0f0f0f;
    color: #f0f0f0e8;
    font-family: monospace;
}

header {
    background-color: #43434300;
    padding: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: left;
    height: 100px;
    transition: 0.5s ease;
}

#title {
    font-size: 50px;
    margin: 0px;
    margin-top: -10px;
    margin-bottom: -10px;
}

#minititle {
    font-size: large;
}

#titlebutton {
    color: #f0f0f0;
    background: none;
    border-radius: 50px;
    height: 25px;
    right: 10px;
    margin-bottom: 0px;
    text-align: center;
    border-color: #f0f0f0;
}

div {
    margin: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: #43434310;
    float: left;
    transition: 0.5s ease;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: auto;
}

div p {
    font-size: large;
}

#bbox {
    width: 460px;
    height: 430px;
}

#gbox {
    float: none;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 20px;
}

div:hover {
    background-color: #ff6600;
}

header:hover {
    background-color: #ff6600;
}

a {
    color: #f0f0f0;
}

