body {
    background-color: #f0f0f0;
    color: #0f0f0f;
    font-family: monospace;
}

header {
    background-color: #43434300;
    padding: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: left;
    height: 100px;
    transition: 0.5s ease;
}

header h1 {
    font-size: xx-large;
}

header p {
    font-size: large;
}

div {
    margin: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: #43434310;
    float: left;
    transition: 0.5s ease;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: auto;
}

#bbox {
    width: 460px;
    height: 430px;
}

#gbox {
    float: none;
    width: auto;
    height: auto;
    margin-bottom: 50px;
    border-radius: 20px;
}

div:hover {
    background-color: #ffcc00;
}

header:hover {
    background-color: #ffcc00;
}
